@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  margin: auto;
  text-align: center;
  font-size: 25px;
}

input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid black;
  width: 60%;
  background: #f1f1f1;
  display: block;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
}

.countries {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.country {
  padding: 2px 16px;
  border: 1px solid black;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2px;
  width: 80px;
  float: right;
}
