@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid black;
  width: 40%;
  display: block;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
}

.countries {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.country {
  padding: 0;
  height: 18rem;
}

.country-header {
  background-color: #b6d4ff;
  height: 9rem;
  padding: 1rem;
}

.country-name {
  font-size: 25px;
  font-weight: bold;
}

.country-capital {
  font-size: 17px;
}

.country-details {
  height: 9rem;
  text-align: center;
  border: 1px solid #b6d4ff;
}

.country-details img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  border: 1px solid black;
}

header,
footer,
main {
  padding: 2rem;
  text-align: center;
}

.header {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(173, 173, 34, 1) 100%
  );
}

.navbar {
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
}
.navbar a {
  float: left;
  font-weight: bold;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
