@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  margin: auto;
  text-align: center;
  font-size: 30px;
}

input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid black;
  width: 40%;
  background: #f1f1f1;
  display: block;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
}

.countries {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f1f1f1;
}

.country {
  padding: 0;
  border: 1px solid black;
  height: 300px;
}

img {
  width: 80px;
  float: right;
}

.country-header {
  background-color: darkgray;
  height: 150px;
  padding: 5px;
}

.country-name {
  font-size: 25px;
  font-weight: bold;
}

.country-capital {
  font-size: 17px;
}

.country-details {
  padding: 5px;
}
